/* -------------------- IMPORTED FONTS -------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap');
/*-------------------- CSS RESET ---------------------------------------------------*/
  /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
/* -------------------- ROOT VARIABLES ---------------------------------------*/
:root {
  font-family:"Habibi",serif;
  font-size:1.25em;
  --green:#06A816;
  --orange:#E75D02;
  --black:#000000;
  --white:#ffffff;
}
/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/
* {
  box-sizing:border-box;
}

html {
  background-color:#ffffff;
}

body {
  min-width:428px;
  grid-template-columns:repeat(2,1fr);
}

main {
  background-color:var(--white);
  grid-template-columns:1fr;
}

header {
  display:flex;
  flex-direction:column;
  background-color:var(--green);
  color:var(--white);
  text-align:center;
  font-family:"Irish Grover",serif;
  padding:10px;
  margin:0px;
}

header p {
  font-size:1em;
  font-style:italic;
  text-align:center;
}

header,footer {
  background-color:var(--green);
  color:var(--white);
}

ul {
  display:flex;
  flex-direction:column;
}

nav ul a {
  display:block;
  background-color:var(--orange);
  color:var(--white);
  font-size:1.25em;
  width:12em;
  text-align:center;
  text-decoration:none;
  padding:10px 10px;
  border-radius:5px;
  border: 2.5px solid var(--white); 
  margin:0 auto;
  margin-top:20px;
}

#top a {
  width:3em;
  height:2.9em;
  bottom:10px;
  right:10px;
  margin:0 auto;
  position:fixed;
  align-content:center;
 }

h1 {
  font-size:2.5em;
  text-shadow: 2px 2px 5px var(--black);
} 
  
h2 {
  font-size:1.75em;
  font-family:"Irish Grover",serif;
}

h3, p {
  font-size:1.25em;
  font-family:"Irish Grover",serif;
}

h3 {
 grid-column: 1 / -1;
}

h1, h2, h3 {
  font-family:"Irish Grover", serif;
}

h1, h2, h3, p, img {
  padding:10px;
}

p {
  font-family:"Habibi", serif;
  line-height:1.5em
}

p, a {
  line-height:1.25em;
}

p small, dl {
  line-height:1.5em;
  padding:15px;
}

#fruits-for-sale {
  text-align:center;
  display:grid;
  grid-template-columns:repeat(1,1fr);
}

#fruits-for-sale figcaption {
  background-color:var(--black);
  color:var(--white);
  width:8em;
  bottom:50%;
  opacity:85%;
  padding:1em;
  margin:0 auto;
  position:relative;
}

#vegetables-for-sale {
  text-align:center;
  display:grid;
  grid-template-columns:repeat(1,1fr);
}

#vegetables-for-sale figcaption {
  background-color:var(--black);
  color:var(--white);
  width:8em;
  bottom:50%;
  opacity:85%;
  padding:1em;
  margin:0 auto;
  position:relative;
}

footer {
  text-align:center;
  padding-top:20px;
 }

footer div {
  display:flex;
  justify-content:center;
}

#address {
  margin-bottom:10px;
}

#weekly-hours {
  margin-top:-20px;
}

#copyright {
  background-color:var(--white);
  color:var(--green);
  padding:8px;
  text-align:center;
  grid-column: 1/-1;
}
/*-------------------- MEDIA QUERY (medium) --------------------------------*/
@media screen and (min-width:834px) {
body {
  min-width:834px;
}

header {
  display:flex;
  flex-direction:row;
}

header p {
  font-size:0.95em;
  margin-left:5em;
  align-content:center;
 }

ul {
  display:flex;
  flex-direction:row;
  justify-content:center;
}
  
nav ul a {
  padding:10px 50px;
  margin:20px 70px auto;
}
  
#fruits-for-sale {
 grid-template-columns:repeat(2,1fr);
}
  
#vegetables-for-sale {
 grid-template-columns:repeat(2,1fr);
}
}
/*-------------------- MEDIA QUERY (large) ------------------------------------*/
@media screen and (min-width:1280px) {
body {
  min-width:1280px;
  display:grid;
}

header {
  display:flex;
  flex-direction:column;
}
  
header p {
  margin:0 auto;
}

main {
  display:grid;
  grid-column: 1/-1;
}

ul {
  display:flex;
}
  
nav {
 background-color:var(--green);
}
  
nav ul a {
  margin:20px 70px auto;
  padding:10px 50px;
}
  
#fruits-for-sale {
  grid-template-columns:repeat(3,1fr);
}
  
#vegetables-for-sale {
  grid-template-columns:repeat(3,1fr);
}

footer {
 display:grid;
 grid-template-columns:repeat(4,1fr);
 text-align:center;
 grid-column: 1/-1;
 }
}
/*-------------------- MEDIA QUERY (xl) ------------------------------------*/
@media screen and (min-width:1440px) {
  
body {
  min-width:1440px;
  }

header {
  display:flex;
  flex-direction:column;
}
  
header p {
  margin:0 auto;
}
  
main {
  display:grid;
  grid-column: 1/-1;
}
  
ul {
  display:flex;
}

nav {
 background-color:var(--green);
}

nav ul a {
  margin:20px 70px auto;
  padding:10px 50px;
}
  
#fruits-for-sale {
  grid-template-columns:repeat(4,1fr);
}
  
#vegetables-for-sale {
  grid-template-columns:repeat(4,1fr);
}
  
footer {
  display:grid;
  grid-template-columns:repeat(4,1fr);
  grid-column: 1/-1;
 }
}