/* -------------------- IMPORTED FONTS -------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap');

/*-------------------- CSS RESET ---------------------------------------------------*/
  /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
  
/* -------------------- ROOT VARIABLES ---------------------------------------*/

:root {
  font-family:"Habibi",serif;
  font-size:1.25em;
  --green:#06A816;
  --orange:#E75D02;
  --black:#000000;
  --white:#ffffff;
}
  
/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/
  
* {
  box-sizing:border-box;
}

html {
  background-color:#ffffff;
}

body {
  min-width:428px;
}

main {
  background-color:var(--white);
  grid-template-columns:1fr;
}

header,footer {
  width:100%;
  background-color:var(--green);
}

header {
  background-color:var(--green);
  color:var(--white);
  text-align:center;
  font-family:"Irish Grover",serif;
  font-size:1.5em;
  padding:10px;
  margin:0px;
}

header p {
  font-style:italic;
  /*font-size:0.75em*/
  font-size:0.5em;
}
nav li {
  list-style:none;
  display:inline-block;
}

nav ul a {
  background-color:var(--orange);
  color:var(--white); 
  display:block;
  text-align:center;
  text-decoration:none;
  font-weight:normal;
  font-size:1.25em;
  border: 2px solid(var--green);
  border-radius:5px;
  margin:10px;
  padding:10px;
}

#top {
  position:fixed;
  bottom:0px;
  right:0px;
}

h1 {
  font-size:2.5em;
  font-weight:bold;
}

h2 {
  font-size:1.75em;
}

h3, p {
  font-size:1.25em;
}

h1, h2, h3 {
  font-family:"Irish Grover", serif;
}

h1, h2, h3, p, img {
  padding:10px;
}

p {
  font-family:"Habibi", serif;
  line-height:1.5em
}

p, a {
  line-height:1.25em;
}
/*new: 9/30*/
p small, dl {
  line-height:1.5em;
  padding:15px;
}

#fruits-for-sale {
  font-size:0.75em;
  text-align:left;
  display:grid;
}

#vegetables-for-sale {
  font-size:0.75em;
  text-align:left;
  display:grid;
}

#fruits-for-sale img {
  top:0px;
}

#vegetables-for-sale img {
  top:0px;
}

#fruits-for-sale {
  font-size:0.5em;
  text-align:center;
}

#vegetables-for-sale {
  font-size:0.5em;
  text-align:center;
}

#fruits-for-sale img {
  position:relative;
  bottom:50%;
}

#vegetables-for-sale img {
  position:relative;
  bottom:50%;
}

#fruits-for-sale figcaption {
  background-color:var(--black);
  color:var(--white);
  padding:1em;
  width:100px;
}

#vegetables-for-sale figcaption {
  background-color:var(--black);
  color:var(--white);
  padding:1em;
  width:100px;
}

header, footer {
  background-color:#06A816;
  color:#ffffff;
}

footer {
  grid-area:footer;
  display:grid;
  border-top:2px solid #000000;
  padding-top:20px;
  grid-template-columns:repeat(4,1fr); 
 }
}


#copyright {
  background-color:var(--white);
  color:var(--green);
  font-size:0.75em;
  text-align:center;
  padding:10px;
}

/*-------------------- MEDIA QUERY (medium) --------------------------------*/
  
@media screen and (min-width:834px) {
body {
  min-width:834px;
}

header {
  display:flex;
}
  
#fruits {
  grid-template-columns:repeat(2,1fr);
}
  
#vegetables {
  grid-template-columns:repeat(2,1fr);
}

footer {
 grid-template-columns:repeat(4,1fr);  
 }
}
/*-------------------- MEDIA QUERY (large) ------------------------------------
large: title on tagline, navigation in header on the right, images: 3 x 4, side-by-side: Contact, ContactInfo, Hours, HoursInfo
*/
@media screen and (min-width:1280px) {
body {
  min-width:1280px;
}

#fruits {
  grid-template-columns:repeat(3,1fr);
}
  
#vegetables {
  grid-template-columns:repeat(3,1fr);
}
/*-------------------- MEDIA QUERY (xl) ---------------------------------------
x-large: 4 x 3
Labels: centered, black background, white text
*/
  
@media screen and (min-width:1440px) {
  
body {
  min-width:1440px;
  }
#fruits {
  grid-template-columns:repeat(4,1fr);
}
  
#vegetables {
  grid-template-columns:repeat(4,1fr);
}
}